body {
  margin: 0;
  padding: 0;
  height: 3000px;
}

.box {
  padding: 0;
  margin: 0;
  height: 340px;
}

#bg1 {
  background: url('../c1.jpg') no-repeat;
}
#bg2 {
  background: url('../c2.jpg') no-repeat;
}
#bg3 {
  background: url('../c3.jpg') no-repeat;
}
#msg {
  font-size: 48px;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  color: orange;
  opacity: 0;
  position: fixed;
}
